*.exe
*.pdb
*.baml
*.Cache
*.resources
ArrangeDesktop/bin/Debug/ArrangeDesktop.exe
ArrangeDesktop/bin/Debug/ArrangeDesktop.pdb
ArrangeDesktop/obj/Debug/ArrangeDesktop.exe
ArrangeDesktop/obj/Debug/ArrangeDesktop.pdb
